<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      body { background-color: #095FB2; }
      .jumbotron {
          background-color: #095FB2;
          color: #fff;
      }
      a { color: #fff; }
      a:hover{ color:#B27309; text-decoration:none}
    </style>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>{{ name }}</h1>
      <p>Traduction en écriture inclusive :  <strong>{{ inclusive }} </strong></p>
      <a href="/"> &#60; index </a>
    </div>
  </body>
</html>
